/* You can add global styles to this file, and also import other style files */
/* @import '~bootstrap/dist/css/bootstrap.min.css'; */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}
:root {
  --blue : #0A3055;
  --red : #67221B;
  --green : #009879;
  --gray : #2E343B;
  --white : #ffffff;
}

* {
  border-radius: 0 !important;
  box-sizing: border-box;
}

/* html[data-theme='light']{
  --blue : #0A3055;
  --red : #67221B;
  --green : #009879;
  --gray : #2E343B;
}

html[data-theme='dark']{
} */

/* buttons */
.btn-success {
  background-color: var(--green);
  border-color: var(--green);
}
.btn-danger {
  background-color: var(--red);
  border-color: var(--red);
}
.btn-primary {
  background-color: var(--blue);
  border-color: var(--blue);
}
/* table props */
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  /* font-family: sans-serif; */
  /* min-width: 400px; */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  background-color: var(--green);
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 3px 4px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid var(--green);
}
.styled-table tbody tr:hover {
  /* font-weight: bold; */
  color: var(--green);
}
/* i sektion */
i {
  color: var(--green);
}
i:hover{
  color:var(--red);
}
/* link */
a {
  text-decoration: none;
}
